<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Result</h1>
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>
            <div th:if="${result}" class="alert alert-success" role="alert">
                Result: <span th:text="${result}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
